In [1]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_excel("schedule.xlsx", index_col=0)

In [13]:
data.head(5)

      M1   M2
Job
1    229  448
2     72  157
3    346  495
4     75  323
5    138  387

In [6]:
while True:

M1    14
M2     1
dtype: int64

In [ ]:
data.min()